html, body {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
 
  /* Top navigation bar with links to other pages and logo styling */
  
.top_bar { 
    background-color: #abe0fe;
    box-shadow: 2px 2px 6px 1px rgba(18, 65, 206, 0.247);
    position: fixed;
    width: 100%;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif; 
}
  
.top_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:rgb(233, 244, 255);
}
  
.top_bar li a {
    display: block;
    padding: 15px 15px;
    border-right: 6px hidden #1242ce;
    text-decoration: none;
    color: #001861;
}
  
.top_bar li a:hover,
.top_bar .button:hover {
    font-size: 20px;
    color: #1242ce;
    font-weight: bold;
}
  
.top_bar .logo img{
    max-height: 40px;
    max-width: 40px;
    padding: 7px 7px;
}
  
/* Transition to open drop-down menu */
  
.top_bar .links {
    clear: both;
    max-height: 0px;
    transition: max-height .4s linear;
}
  
  /* Drop-down menu display */
  
.top_bar .display {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 19px;
    position: relative;
  }
  
.top_bar .display .navigation {
    background: #f80011;
    display: block;
    height: 1.5px;
    position: relative;
    transition: .15s linear;
    width: 22px;
}
  
.top_bar .display .navigation:before,
.top_bar .display .navigation:after {
    background: #f80011;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition:  .15s linear;
    width: 100%;
}

.top_bar .display .navigation:before {
    top: 6px;
}

.top_bar .display .navigation:after {
    top: -6px;
}

/* Button to control drop-down menu */

.top_bar .button {
    display: none;
}

.top_bar .button:checked ~ .links {
    max-height: 600px;
}

.top_bar .button:checked ~ .display .navigation {
    background: transparent;
}

.top_bar .button:checked ~ .display .navigation:before {
    transform: rotate(-45deg);
}

.top_bar .button:checked ~ .display .navigation:after {
    transform: rotate(45deg);
}

.top_bar .button:checked ~ .display:not(.steps) .navigation:before,
.top_bar .button:checked ~ .display:not(.steps) .navigation:after {
    top: 1px;
}

/* Navigation bar display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .top_bar li {
        float: left;
    }
    .top_bar li a {
        padding: 21px 40px;
    }
    .top_bar .links {
        clear: none;
        float: right;
        max-height: none;
    }
    .top_bar .display {
        display: none;
    }
}

/* Navigation bar display for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .top_bar li {
        float: left;
    }
    .top_bar li a {
        padding: 21px 60px;
    }
    .top_bar .links {
        clear: none;
        float: right;
        max-height: none;
    }
    .top_bar .display {
        display: none;
    }
}

/* Command makes footer stick to bottom of the page and margins for page content*/
  
.page_contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

/* Text styling within page contents */
.text {
  padding: 10px 20px 0px 20px;
  text-align: left;
}

.text h2 {
  color: #f80011;
  font-size: 20pt;
  text-align: center;
}

.text p {
  font-size: 11.5pt;
  margin-top: 10px;
}

/* Image styling within page contents */

.sm_icons_main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.sm_icons_main li img {
  max-height: 90px;
  max-width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#github {
  margin-top: 20px;
}

/* Page content with main social icons and text display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .text h2 {
    color: #f80011;
    font-size: 26pt;
  }
  
  .text p {
    font-size: 13pt;
    margin-top: 13px;
  }

  .sm_icons_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .sm_icons_main li img {
    max-height: 115px;
    max-width: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  #github {
    margin-top: 50px;
  }
}

/* Page content with main social icons and text display for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .text h2 {
    color: #f80011;
    font-size: 32pt;
  }
  
  .text p {
    font-size: 14pt;
    margin-top: 16px;
  }

  .sm_icons_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sm_icons_main li img {
    max-height: 150px;
    max-width: auto;
    margin-top: 75px;
    margin-bottom: 5px;
    margin-left: 75px;
    margin-right: 75px;
  }
  
  #github {
    margin-top: 75px;
  }
}

/* General display for footer */

footer {
    background-color: #4f9bf8;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}


* {
    margin: 0;
    padding: 0;
  }

ul {
    list-style: none;
    padding-left: 0;
  }

footer {
    background-color: #4f9bf8;
    color: #ffffff;
    font-size: 11pt;
    line-height: 0;
  }

footer a {
    text-decoration: none;
    color: #ffffff;
  }

a:hover {
    color: #f80011;
  }
  
  /* Command makes footer stick to bottom of the page and margins for page content*/
  
.page_contents {
    flex: 1;
    margin-top: 70px;
    margin-left: 20px;
  }

  /* Display for section containing icons and links to social media */

  sm_icons {
    padding: 0px 20px;
  }

.sm_list {
    display: flex;
    justify-content: center;
    border-bottom: 1px #ffffff ridge; 
  }

.sm_list li {
    margin: 5px;
    padding: 0px 3px;
  }

.sm_list img {
    max-width: 33px;
    max-height: 33px;
  }

  /* Display for section containing copyright info and link to sitemap */

.copy_map_info {
    padding: 14px 25px;
    background-color: #0c2a83;
  }

.copy_map_info_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.copy_map_info_list li {
    margin: 0px 0px;
    white-space: normal;
  }
 
/* Footer bar display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    footer {
        font-size: 12pt;
      }

      .sm_list img {
        max-width: 35px;
        max-height: 35px;
      }
    
      .sm_list li {
        padding: 0px 10px;
      }
}

/* Footer bar display for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    footer {
        font-size: 12pt;
      }      
    
    .sm_list img {
        max-width: 42px;
        max-height: 42px;
    }

    .sm_list li {
        padding: 0px 13px;
    }