html, body {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

  }
  /* Generic styling */
* {
    
    margin: 0;
    padding: 0;
  }

ul {
    list-style: none;
    padding-left: 0;
  }

footer {
    background-color: #4f9bf8;
    color: #ffffff;
    font-size: 11pt;
    line-height: 0;
  }

footer a {
    text-decoration: none;
    color: #ffffff;
  }

a:hover {
    color: #f80011;
  }
  
  /* Command makes footer stick to bottom of the page */
  
.container {
    flex: 1;
  }

  /* Display for section containing icons and links to social media */

  sm_icons {
    padding: 0px 20px;
  }

.sm_list {
    display: flex;
    justify-content: center;
    border-bottom: 1px #ffffff ridge; 
  }

.sm_list li {
    margin: 5px;
    padding: 0px 3px;
  }

.sm_list img {
    max-width: 33px;
    max-height: 33px;
  }

  /* Display for section containing copyright info and link to sitemap */

.copy_map_info {
    padding: 5px 25px;
    background-color: #0c2a83;
  }

.copy_map_info_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.copy_map_info_list li {
    margin: 0px 0px;
    white-space: normal;
  }
 
/* Footer bar display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    footer {
        font-size: 12pt;
      }

      .sm_list img {
        max-width: 35px;
        max-height: 35px;
      }
    
      .sm_list li {
        padding: 0px 10px;
      }
}

/* Footer bar display for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    footer {
        font-size: 12pt;
      }      
    
    .sm_list img {
        max-width: 42px;
        max-height: 42px;
    }

    .sm_list li {
        padding: 0px 13px;
    }
}