 /* General styling for body */

 html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Top navigation bar with links to other pages and logo styling */

.top_bar { 
  background-color: #abe0fe;
  box-shadow: 2px 2px 6px 1px rgba(18, 65, 206, 0.247);
  position: fixed;
  width: 100%;
  height: auto;
}

.top_bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:rgb(233, 244, 255);
}

.top_bar li a {
  display: block;
  padding: 15px 15px;
  border-right: 6px hidden #1242ce;
  text-decoration: none;
  color: #001861;
}

/* Styling hover effects for navigation bar */

.top_bar li a:hover,
.top_bar .button:hover {
  font-size: 20px;
  color: #1242ce;
  font-weight: bold;
}

/* Styling logo in navigation bar */

.top_bar .logo img{
  max-height: 40px;
  max-width: 40px;
  padding: 7px 7px;
}

/* Transition to open drop-down menu */

.top_bar .links {
  clear: both;
  max-height: 0px;
  transition: max-height .4s linear;
}

/* Drop-down menu display */

.top_bar .display {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 19px;
  position: relative;
}

.top_bar .display .navigation {
  background: #f80011;
  display: block;
  height: 1.5px;
  position: relative;
  transition: .15s linear;
  width: 22px;
}

.top_bar .display .navigation:before,
.top_bar .display .navigation:after {
  background: #f80011;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition:  .15s linear;
  width: 100%;
}

.top_bar .display .navigation:before {
  top: 6px;
}

.top_bar .display .navigation:after {
  top: -6px;
}

/* Button to control drop-down menu */

.top_bar .button {
  display: none;
}

.top_bar .button:checked ~ .links {
  max-height: 600px;
}

.top_bar .button:checked ~ .display .navigation {
  background: transparent;
}

.top_bar .button:checked ~ .display .navigation:before {
  transform: rotate(-45deg);
}

.top_bar .button:checked ~ .display .navigation:after {
  transform: rotate(45deg);
}

.top_bar .button:checked ~ .display:not(.steps) .navigation:before,
.top_bar .button:checked ~ .display:not(.steps) .navigation:after {
  top: 1px;
}

/* Navigation bar display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .top_bar li {
      float: left;
  }
  .top_bar li a {
      padding: 21px 40px;
  }

   /* Styling to change from hambbuger menu display to navigation bar */
   
  .top_bar .links {
      clear: none;
      float: right;
      max-height: none;
  }
  
  .top_bar .display {
      display: none;
  }
}

/* Navigation bar display for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .top_bar li a {
      padding: 21px 60px;
  }
}

/* Command makes footer stick to bottom of the page and margins for page content*/
  
.page_contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center; 
}

/* Text layout and sizing within page contents */

.text {
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.text h2 {
  color: #f80011;
  font-size: 20pt;
}

.text p {
  font-size: 11.5pt;
  margin-top: 10px;
}

/* Image layout and sizing within page contents */

#clipart {
  margin: 40px;
}
#clipart img{
  max-width: 210px;
  max-height: auto;
}

/* Page content image and text display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

    /* Text adjustments */

  .text h2 {
    color: #f80011;
    font-size: 26pt;
  }
  
  .text p {
    font-size: 13pt;
    margin-top: 13px;
  }

    /* Image resizing and redefining borders */
  
  #clipart {
    margin: 50px 0px 20px 0px;
  }

  #clipart img{
    max-width: 230px;
    max-height: auto;
  }
}

/* Page content image and text for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

  /* Flex display adjusments so content displays side-by-side for large devices */

  .page_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  /* Text adjustments for large devices */

  .text {
    text-align: left;
  }
  
  .text h2 {
    color: #f80011;
    font-size: 34pt;
  }
  
  .text p {
    font-size: 13pt;
    margin-top: 13px;
  }
  
  /* Image resizing and redefining borders for large devices */

  #clipart {
    margin: 50px 0px 20px;
  }

  #clipart img{
    max-width: 245px;
    max-height: auto;
    
  }
}

/* General display for footer */

footer {
  background-color: #4f9bf8;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #4f9bf8;
  color: #ffffff;
  font-size: 11pt;
  line-height: 0;
}

/* Link styling for footer */

footer a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #f80011;
  text-decoration: underline;
}

/* Display for section containing icons and links to social media */

.sm_list {
  display: flex;
  justify-content: center;
  border-bottom: 1px #ffffff ridge; 
}

.sm_list li {
  margin: 5px;
  padding: 0px 3px;
}

.sm_list img {
  max-width: 33px;
  max-height: 33px;
}

/* Display for section containing copyright info and link to sitemap */

.copy_map_info {
  padding: 14px 25px;
  background-color: #0c2a83;
}

.copy_map_info_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copy_map_info_list li {
  margin: 0px 0px;
  white-space: normal;
}

/* Footer bar display for medium devices, adjusting image and font sizing (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  
  /* Text styling */
  
  footer {
    font-size: 12pt;
  }

  /* Image styling */

  .sm_list img {
    max-width: 35px;
    max-height: 35px;
  }

  .sm_list li {
    padding: 0px 10px;
  }
}

/* Footer bar display for large devices, adjusting image and font sizing (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

  /* Image styling */
  
  .sm_list img {
    max-width: 42px;
    max-height: 42px;
   }

.sm_list li {
    padding: 0px 13px;
  }
}
