
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
    
  
   
    
    
  
    
  
    
    
    
  
    
  
    
  
  
  /* Page content image and text for large devices (laptops/desktops, 992px and up) */
  
  @media only screen and (min-width: 992px) {
  
    .blog_list h2 {
      font-size: 28pt;
      text-align: center;
    }
    
    .blog_list p {
      font-size: 14pt;
      text-align: center;
      display: inline-flex;
      justify-content: center;
    }
  
    .blog_index {
      padding-left: 12%;
      margin: 5% 20% 5% 20%;
    }
  
    .blog_index a {
      font-size: 14pt;  
    }
    
    .blog_list {
      font-size: 14pt;
      display: inline-flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .post_1, .post_2, .post_3, .post_4, .post_5 {
      margin: 5% 10% 5% 10%; 
    }
  
    .blog_posts p {
      font-size: 14pt;
    }
    
    .blog_posts h3 {
      font-size: 20pt;
    }
    
    .blog_posts h4 {
      font-size: 16pt;
    }
  
    #author_info {
      font-size: 12pt;
    }
  
    .blog_posts img {
      max-height: auto;
      max-width: 330px;
  }