html, body {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
 
  /* Top navigation bar with links to other pages and logo styling */
  
.top_bar { 
    background-color: #abe0fe;
    box-shadow: 2px 2px 6px 1px rgba(18, 65, 206, 0.247);
    position: fixed;
    width: 100%;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif; 
}
  
.top_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:rgb(233, 244, 255);
}
  
.top_bar li a {
    display: block;
    padding: 15px 15px;
    border-right: 6px hidden #1242ce;
    text-decoration: none;
    color: #001861;
}
  
.top_bar li a:hover,
.top_bar .button:hover {
    font-size: 20px;
    color: #1242ce;
    font-weight: bold;
}
  
.top_bar .logo img{
    max-height: 40px;
    max-width: 40px;
    padding: 7px 7px;
}
  
/* Transition to open drop-down menu */
  
.top_bar .links {
    clear: both;
    max-height: 0px;
    transition: max-height .4s linear;
}
  
  /* Drop-down menu display */
  
.top_bar .display {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 19px;
    position: relative;
  }
  
.top_bar .display .navigation {
    background: #f80011;
    display: block;
    height: 1.5px;
    position: relative;
    transition: .15s linear;
    width: 22px;
}
  
.top_bar .display .navigation:before,
.top_bar .display .navigation:after {
    background: #f80011;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition:  .15s linear;
    width: 100%;
}

.top_bar .display .navigation:before {
    top: 6px;
}

.top_bar .display .navigation:after {
    top: -6px;
}

/* Button to control drop-down menu */

.top_bar .button {
    display: none;
}

.top_bar .button:checked ~ .links {
    max-height: 600px;
}

.top_bar .button:checked ~ .display .navigation {
    background: transparent;
}

.top_bar .button:checked ~ .display .navigation:before {
    transform: rotate(-45deg);
}

.top_bar .button:checked ~ .display .navigation:after {
    transform: rotate(45deg);
}

.top_bar .button:checked ~ .display:not(.steps) .navigation:before,
.top_bar .button:checked ~ .display:not(.steps) .navigation:after {
    top: 1px;
}

/* Navigation bar display for medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .top_bar li {
        float: left;
    }
    .top_bar li a {
        padding: 21px 40px;
    }
    .top_bar .links {
        clear: none;
        float: right;
        max-height: none;
    }
    .top_bar .display {
        display: none;
    }
}

/* Navigation bar display for large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .top_bar li {
        float: left;
    }
    .top_bar li a {
        padding: 21px 60px;
    }
    .top_bar .links {
        clear: none;
        float: right;
        max-height: none;
    }
    .top_bar .display {
        display: none;
    }
}

footer {
    background-color: #4f9bf8;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

#copyright_info{
    border:1px solid black;
    text-align: center;
}

#sitemap {
    border:1px solid black;
    text-align: center;
}

#footer-images {
    border:1px solid black;
    display: inline;
}

#footer-images ul {
    padding: 0;
    display: inline;
  }
  
#footer-images li {
    list-style: none;
    margin: 0 10px;
    display: inline;
  }

  #footer-images img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    max-width: 40px;
  }

  #footer-images a {
    display: flex;
    flex-direction: row;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
#logo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
